
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-y: scroll;

}

body{
  background-color: black;
  color:white;
  overflow-y: scroll;
}

.navbar {
  height: 100%;
  width:25%;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  padding-bottom: 15px;
  padding-top:40px;
  padding-left:10px;
  padding-right:10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid black;
  background-color: rgb(35, 81, 27, 0.5);
}



.dash-list{
  padding: 20px;
  font-size:30px;
  list-style: none;
}

li {
  margin-bottom: 20px;
  list-style:none;
}

.card-container {
  display:flex;
  padding:0px;
  margin-bottom: 10px;
  justify-content: center;
  
  
}

.card {
  padding:20px;
  border: solid black 1px;
  margin: 10px;
  font-size:12px;
  border-radius: 8px;
  background-color: rgb(35, 81, 27, 0.5);
  margin-left:20px;
  margin-right:20px;
}


.list-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-direction: column;
  padding:10px;
  border:1px solid white;
  border-radius: 8px;
  background-color: rgb(35, 81, 27, 0.5);
  overflow-y: scroll;
}

.main-container {
  margin-left:200px;
  display: flex;
  flex-direction: column;
  border:1px solid black;
  height: 90%;
  width: 70%;
  position: fixed;
  top:50px;
  left:180px;
  padding:20px;
  overflow-y: scroll;
  
}

.info {
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  padding:10px;
  
}

.info2 {
  display: flex;
  margin-left: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}